@import "tailwindcss";

:root {
  --primary-color: #05080b;
  --secondary-color: #5e83a6;
  --background-color: #fafafa;
  --background-secondary-color: #757575;
  --primary-text-color: #05080b;
  --secondary-text-color: #757575;
  --button-color: #05080b;
  --button-hover-color: #5e83a6;
  --button-secondary-color: #5e83a6;
  --button-secondary-hover-color: #05080b;
  --danger-color: #dc3545;

  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: 'Bebas Kai', sans-serif; */
	/* font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace; */
  /* font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; */
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 360px;
  min-height: 100dvh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}
