.main__container{
    background: #FFF;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 80%, rgba(180, 180, 180, 1) 100%);
}

.parameters__container{
    max-width: 600px;
}

#schedules{
    max-width: 183px;
}